
$color-border: #DDD;

@import "media-queries";
@import "fonts";

.bottom-empahsis {
  margin-bottom: 10px !important;
}

body {
  background: #EEE;
}

.essay-input {
  max-width: 600px;
}

.my-button {
  font-family: $font-title !important;
  font-size: 24px !important;
}

.space-full-span {
  width: 100%;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
  padding: 80px;
}

.bg-white {
  background-color: #FFF;
}

.img-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid $color-border;
}

.splash {
  background-image: url("../images/splash.jpg") !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: auto 100%;
}

.center {
  margin: 0 auto !important;
}

.space-showcase {
  width: 100%;

  @media #{$large-up} {
    height: 10vh;  
  }
}

.padded {
  padding: 40px;
}

.rounded {
  background-color: #FFF;
  border-radius: 5px;
  //border-radius: 25px;
  border: 1px solid $color-border;
  padding: 20px;
  max-width: 600px;
  margin: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro"
}
.highlights h2 {
  font-weight: 200;
  text-transform: uppercase;
}
.personTitle {
  margin-top: 60px;
  margin-bottom: 20px;
}
.personTitle h1 {
  font-weight: 600;
}
.radar-chart .area {
  fill-opacity: 0.7;
}
.radar-chart.focus .area {
  fill-opacity: 0.3;
}
.radar-chart.focus .area.focused {
  fill-opacity: 0.9;
}
.area.One, .One .circle {
  fill: #F44336;
  stroke: none;
}
.area.Two, .Two .circle {
  fill: #0091EA;
  stroke: none;
}
.pentaChart {
  margin-top: 50px;
}