
<div class="rounded">
  <div class="row">
    <div class="column medium-4 small-12">
      <img class="img-icon" src="{{ pictureUrl }}">
      <h2 class="title-small">{{ name }}</h2>
    </div> 
    <div id="{{ name }}" class="column medium-4 small-12">
      <svg width="400" height="110" class="graph">
<!--         <rect width="300" height="100" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)" />
 -->      </svg>
      d3js here
    </div>
    <div class="column medium-4 small-12">
      <h1 class="text-match-pct">94%</h1>
      <span class="text-match">Match</span>
    </div>
  </div>
</div>