


<div class="row">

  <div class="column small-12 large-6 centered">
    <div class="space-showcase"></div>
    <center><h1 class="title">Salsa</h1></center>
  </div>

  <div class="column small-12 large-6 centered">

    <!--<right>
      <a class="text-mini" data-ng-click="IntentLogout()">Logout</a>
    </right>-->

    <div class="space-showcase"></div>


    <h2 class="sub-title">Find the <b>right</b> roommate.</h2>
    <br>
    <button type="button" class="my-button" data-ng-click="IntentLogin()">Login with Facebook</button>
    <div class="space-showcase"></div>


  </div>
</div>

<div class="space-full-span bg-white"><br><br><br></div>

<div class="row">
  <div class="column small-12 centered">
    <div class="space-showcase"></div>
    <center>
      <person class="center" />
      <person class="center" />
    </center>
  </div>
</div>



